services:
  tomee:
    image: tomee:jre21-webprofile
    container_name: tomee
    ports:
      - "81:8080"
    volumes:
      - ./target:/usr/local/tomee/webapps
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: quiz
      MYSQL_USER: lukas
      MYSQL_PASSWORD: secret
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "82:80"
    depends_on:
      - db
volumes:
  db_data: